.moverImgMycLogin{
    margin-inline-start: -10px;
    margin-block-end: 90px;
    margin-block-start: 10px;
}
h1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 25px;
    color: grey;
}
.hrLogin1{
    
    margin-block-start: -18px;
    margin-block-end: 40px;
}
.inputLogin{
    max-width: 270px;;
}
.hrLogin2{
    margin-block-start: 40px;
    margin-block-end: 40px;
}
.btnLogin{
    width: 150px;
    margin-block-end: 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: medium;
}
#barraBajaLogin ul{
    list-style-type: none;
    text-align: center;
    padding-top: 5px;
}
#barraBajaLogin li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    font-size: 11px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#barraBajaLogin li a{
    padding: 2px 7px 2px 7px;
    color: #666;
    text-decoration: none;
}
#barraBajaLogin li a:hover{
    color: #c95555;
}
#imgLoginC{
    text-align: center;
    margin-left: 50px;
}
#imgLoginC img{
    width: 10px;
}
#imgLoginC h3{
    font-size: 11px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: grey;
}

.btnDerecha{
    width: 75px;
    margin-block-start: 20px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: medium;
}
.btnAdmin{
    margin-block-start: 20px;
    padding-block-end: 3px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: small;
    background-color: grey;
    color: honeydew;
}
.btnLogout{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-block-end: 3px;
    font-size: smaller;
    width: 160px;
    background-color: white;
    color: black;
    text-align: initial;
}
.btnCategories{
    padding-block-start: 3px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: smaller;
    width: 160px;
    background-color: lightgrey;
    color: black;
    text-align: initial;
}
thead{
    background-color: lightgrey;
}
.mova{
    color: grey;
}
h2{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 50px;
    color: grey;
}
.hrInicio{
    display: flex;
    justify-content: center;
}


/*Noticia*/
.nFecha{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10px;
    color: black;
    margin-block-start: 15px;
    margin-block-end: 2px;
}
.nTitulo{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    color: #403A3A;
    margin-block-end: 0px;
}
.nCategoria{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    color: grey;
    margin-block-end: 0px;
}
.nDescripcion{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
    color: #8C8888;
    margin-block-end: 0px;
}

.centrarCard{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-block-start: 200px;
}
.centrarCard fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centrarCard fieldset input{
    cursor: pointer;
    width: 150px;
    padding: .25rem .5rem;
    line-height: 1.5;
    border-radius: .2rem;
    border-style: solid;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: medium;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-block-start: 10px;
}

/*Efecto zoom*/
    .ex2 img{
    width: 350px;
    transition: all 1s ease;
    }
    .ex2 img:hover {
    width:370px;
    margin-left: -5px;
    cursor: pointer;
    }