body {
    font-family: system-ui;
}

.container.p-4 {
    margin-top: 50px;
}

.footer-links {
    text-align: center;
}

a {
    margin-right: 25px;
}

p#copy {
    margin-top: 15px;
}

hr.footer-fixed { 
    margin-top: 55px;
}

a.navbar-brand {
    margin-left: 15px;
}

button#btn_logout {
    border-color:  #046590;
    background-color: #046590;
}

a#logout {
    
    font-family: system-ui;
    font-weight: normal;
}

div#row_welcome {
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 56px;
}

h1#welcome {
    font-size: xxx-large;
    color: #046590;
}

input#save_category {
    background-color: #046590;
    color: white;
    border-color: white;
}

div#title_category {
    text-align: center;
    background-color: #046590;
}

h2 {
    color: white;
}

td {
    text-align: center;
}

th {
    text-align: center;
}

.row {
    justify-content: center;
}

th {
    background-color: #046590;
    color: white;
}

a#dropdown-item_user {
    display: contents;
}

a#dropdown-item_user {
    color: white;
    font-family: system-ui;
}

::before {
    margin-right: 2px;
}

button.btn.btn-primary.dropdown-toggle{
    border-color:  #046590;
    background-color: #046590;
}
